.head {
  font-size: 22px;
  padding: 10px 15px;
  border: 0;
  text-align: center;
  margin: 10px 5px;
  border-radius: 5px;
  position: fixed;
}
.headtest {
  font-size: 25px;
  border: 0;
  text-align: center;
  border-radius: 5px;
  padding: 0px 10px;
  color: rgb(253, 253, 253);
}

.top_nav {
  background-color: #adadad;
}

.group_button {
  margin: 20px 20px;
  text-align: left;
  background-color: #828282;
  border: none;
  width: 85%;
  justify-content: center;
  align-items: center;
  left:0px
}
.user_name {
  font-size: 25px;
  padding-left: 15px;
  display: flex;
  align-items: center
  
}

.fixed {
  position: fixed;
}

.fixedtest {
  position: fixed;
  width: 100%;
  border: none;
  background-color: #adadad;
  font-size: 85px;
  left: 0px;
}

.back {
  background-color: #adadad;
  border: none;
  position: fixed;
}

.user_image {
  padding: 10px 5px;
}

.bnav_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bnav_word {
  font-size: 10px;
  display: flex;
  align-items: center;
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif TC', serif;
}

html, body
{
    height: auto;
}
/*
.top_container
{
    position: relative;
    width: 100%;
    height: 5em;
    background-color: rgb(227, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
}*/
/*
.user_info
{
    position: absolute;
    right: 0px;
}

.user_info_text
{
    padding-left: 30px;
}*/

.navbar_container
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1em 2.5em;
}

.search, .together, .home, .order, .account
{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0em 1em;
    cursor: pointer;
}

.navbar_container .nav_icon
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    background-color: rgb(95, 95, 95);
    color: #fff;
    border-radius: 50%;
    
    margin: 0em;
}

.navbar_container .nav_text
{
    width: 24px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0em;
    text-decoration: none;
    font-size: 10px;
}
