.head {
  font-size: 22px;
  padding: 10px 15px;
  border: 0;
  text-align: center;
  margin: 10px 5px;
  border-radius: 5px;
  position: fixed;
}
.headtest {
  font-size: 25px;
  border: 0;
  text-align: center;
  border-radius: 5px;
  padding: 0px 10px;
}

.top_nav {
  background-color: #adadad;
}

.group_button {
  margin: 20px 40px;
  text-align: left;
  background-color: #828282;
  border: none;
  min-width: 80%;
  justify-content: center;
}
.user_name {
  font-size: 25px;
  padding: 15px 0px 0px 10px;
  display: flex;
  align-items: center
}

.fixed {
  position: fixed;
}

.fixedtest {
  position: fixed;
  width: 100%;
  border: none;
  background-color: #adadad;
  font-size: 85px;
}

.back {
  background-color: #adadad;
  border: none;
  position: fixed;
}

.user_image {
  padding: 10px 5px;
}

.bnav_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bnav_word {
  font-size: 10px;
  display: flex;
  align-items: center;
}
